<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd
	   http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd">

	<import resource="spring-daos.xml" />

	<!-- 在此处对服务进行注入 -->
	<bean id="serviceFactory" class="com.feng.ssh.service.base.ServiceFactory">
		<property name="services">
			<map>
			<!-- 此处添加服务的对应关系 -->
			<!-- Example -->
			<!-- 
			<entry key="客户端传参数中的标识服务的值" value-ref="(服务类的别名)wbSpeedRankService"></entry> 
			-->
			<entry key="test_14" value-ref="testService"></entry>
			</map>
		</property>
	</bean>
	<!-- 此处添加服务类的别名 -->
	<!-- Example -->
	<!-- 
	<bean id="(服务类的别名)wbSpeedRankService" class="(服务类的路径)com.judon.wristball.service.SpeedRankService">
	    <property name="hbmBaseDAO" ref="hbmBaseDAO"></property>
	</bean> 
	-->
	<bean id="testService" class="com.feng.ssh.service.common.TestService">
	    <property name="hbmBaseDAO" ref="hbmBaseDAO"></property>
	</bean>
</beans>